@import "tailwindcss";

@import "./dropdown.css";
@import "./button.css";
@import "./input.css";
@import "./modal.css";
@import "./nav-bar.css";
@import "./notification.css";

@theme {
  --color-primary-50: #e0f2ff;
  --color-primary-100: #cff0ff;
  --color-primary-200: #beeaff;
  --color-primary-300: #ade4ff;
  --color-primary-400: #9cdcff;
  --color-primary-500: #75ceff;
  --color-primary-600: #00a3ff;
  --color-primary-700: #0088d6;
  --color-primary-800: #006aa3;
  --color-primary-900: #004466;
}

body {
  @apply inter text-neutral-950 bg-neutral-100 antialiased transition-all duration-200 ease-in-out h-screen flex flex-col overflow-hidden;
}

.navigation-cell {
  @apply flex flex-row items-center gap-2 py-1.5 px-3 w-full text-sm font-medium text-neutral-950 cursor-pointer transition-all hover:bg-neutral-200;
}

.navigation-cell.no-click {
  @apply cursor-auto hover:bg-white;
}

.logo {
  @apply flex items-center justify-center bg-neutral-200 border-standard overflow-hidden relative text-base font-medium shrink-0;
}

.logo.s {
  @apply size-8 rounded-full box-border;
}

.logo.m {
  @apply size-16 title-m rounded-2xl;
}

.logo.l {
  @apply size-32 text-5xl font-semibold rounded-4xl;
}

/* Conditional Visibility */

@media (max-width: 768px) {
  .mobile-hidden {
    @apply hidden max-md:hidden;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .tablet-hidden {
    @apply hidden;
  }
}

@media (min-width: 1281px) {
  .desktop-hidden {
    @apply hidden;
  }
}
